.block#block-text
  .content
    %h2.title= "Cookbook: #{h @cookbook["name"]}"
    .inner
      - @cookbook.keys.reject{ |k| k == "name" }.each do |v|
        - cb = @cookbook[v]
        %h2.head= "Version: #{v}"
        .accordion
          - unless cb["libraries"].empty?
            %h2.head= link_to "Library Files", "#"
            .files
            - cb["libraries"].each do |f|
              .code
                %h4.head= link_to File.basename(f["name"]), "#"
                %pre.ruby= syntax_highlight(get_file(f["uri"]))      
          - unless cb["attributes"].empty?
            %h2.head= link_to "Attribute Files", "#"
            .files
              - cb["attributes"].each do |f|
                .code
                  %h4.head= link_to File.basename(f["name"]), "#"
                  %pre.ruby= syntax_highlight(get_file(f["uri"]))  
          - unless cb["definitions"].empty?
            %h2.head= link_to "Definition Files", "#"
            .files
              - cb["definitions"].each do |f|
                .code
                  %h4.head= link_to File.basename(f["name"]), "#"
                  %pre.ruby= syntax_highlight(get_file(f["uri"]))
          - unless cb["recipes"].empty?
            %h2.head= link_to "Recipe Files", "#"
            .files
              - cb["recipes"].each do |f|
                .code
                  %h4.head= link_to File.basename(f["name"]), "#"
                  %pre.ruby= syntax_highlight(get_file(f["uri"]))
          - unless cb["templates"].empty?
            %h2.head= link_to "Template Files", "#"
            .files
              - cb["templates"].each do |f|
                .code
                  %h4.head= link_to File.basename(f["name"]), "#"
                  %pre.ruby= syntax_highlight(get_file(f["uri"]))
